site_name: My Digital Garden
theme:
  name: material
  palette:
    primary: indigo
    accent: light blue
  features:
    - navigation.tabs
    - search.suggest
    - search.highlight

plugins:
  - search
  - markmap
